body {
  font-family: Helvetica, Arial, sans-serif;
}

#item-details {
  max-width: 900px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}


#content {
  height: 100%;
}

body {
  background: #151515;
  color: #08b2ee;
}

body div.home {
  display: inline-block;
  max-width: 600px;
}

a:visited {
  color: cyan;
}

a:hover {
  color: yellow;
}

a {
  color: cyan;
  text-decoration: none;
}

.visible-loot-container {
  border-color: #00A0FF;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.invisible-loot-container {
  border-color: gold;
  border-width: 2px;
  border-style: dotted;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.tab-btn {
  color: white;
}

a.loading {
  color: red;
}




@-webkit-keyframes llama-mode {
  0% {
    background-color: Yellow;
    opacity: 1;
  }
  22% {
    background-color: Yellow;
  }
  77% {
    background-color: Red;
  }
  100% {
    background-color: #777;
  }
}

.llama-mode {
  -webkit-animation-name: llama-mode;
  -webkit-animation-duration: 100ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}