/* app css stylesheet */



body {
  margin-left: 10px;
  background-color: black;
  color: white;

}


#main-view {
  clear:both;
}

#manual-classifier {

}

#manual-classifier .filters {
  width: 250px;
}

#manual-classifier .table {
  float: right;
}

table.strapless {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0px;
  border-color: gray;
}

.strapless table, .strapless th, .strapless td {
  border: 1px solid black;
}

.slick-column-name {
  font-size: 100%;
}

.slick-header-column {
  height: 20px !important;
}

.slick-header-column.ui-state-default {
    background:none ;
    background-color: #505050 ;
    color: #eeeeee;
    border: none;
    padding: 0;
    text-shadow: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
}

.slick-row.ui-widget-content, .slick-cell {
    background: none;
    background-color: black;
    color: white;
    border: none;
    /*border-bottom: solid 1px #ffffff;*/
    /*font-size: 14px;*/
    /*height: 60px;*/
    /*line-height: 60px;*/
    /*padding: 0 5px;*/
}

/* Currently selected cell */
.slick-cell.active {
  background: #00ff00;
}

.slick-row:hover {
  background-color: red;
}
