/* app css stylesheet */



body {
  margin-left: 10px;
}


#main-view {
  clear:both;
}

#manual-classifier {

}

#manual-classifier .filters {
  width: 250px;
}

#manual-classifier .table {
  float: right;
}

table.strapless {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0px;
  border-color: gray;
}

.strapless table, .strapless th, .strapless td {
  border: 1px solid black;
}